<ion-view view-title="Horaire de cours">
  <ion-nav-buttons side="primary">
    <a class="button icon ion-home" href="#/"></a>
  </ion-nav-buttons>
  <ion-content class="padding">

  </ion-content>
</ion-view>

<script id="login.html" type="text/ng-template">
  <div class="list">
    <span class="item item-input">
      <label class="input-label">Identifiant:</label>
      <input type="text" ng-model="user.id">
    </span>
    <span class="item item-input">
      <label class="input-label">Mot de passe:</label>
      <input type="password" ng-model="user.pass">
    </span>
    <span class="item item-input">
      <label class="input-label">Entrez le texte de l'image:</label>
      <input type="password" ng-model="user.captcha">
    </span>
  </div>
</script>
