<ion-view view-title="Horaire de cours">
  <ion-nav-buttons side="primary">
    <a class="button icon ion-home" href="#/"></a>
  </ion-nav-buttons>
  <ion-content class="padding" scroll="false">
    <button type="button" class="button button-block icon-left ion-refresh" ng-click="sync()">Synchroniser</button>
    <div id="myCalendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar"></div>
  </ion-content>
</ion-view>

<script id="dossier-login.html" type="text/ng-template">
  <style>
    .popup {
      width: 300px !important;
    }
  </style>
  <div class="list">
    <span class="item item-input">
      <label class="input-label">Identifiant:</label>
      <input type="text" ng-model="user.id">
    </span>
    <span class="item item-input">
      <label class="input-label">Mot de passe:</label>
      <input type="password" ng-model="user.pass">
    </span>
    <span class="item" align="center">
      <img data-ng-src="data:{{captchaImageType}};base64,{{captchaImage}}"/>
    </span>
    <span class="item item-input">
      <label class="input-label">Entrez le texte de l'image:</label>
      <input type="text" ng-model="user.captcha">
    </span>
  </div>
</script>
