/* Empty. Add your own CSS if you like */
input.form-control {
  cursor: pointer !important;
}

.input-group-btn:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}

.header .col {
  background-color: lightgrey;
}

.footer .col {
  background-color: lightgrey;
}

.col {
  border: solid 1px grey;
  border-bottom-style: none;
  border-right-style: none;
  text-align: center;
}

.col:first-child {
  text-align: right;
  background-color: lightgrey;
}

.col:last-child {
  border-right: solid 1px grey;
  background-color: lightgrey;
}

.col-time {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 60px;
  -moz-box-flex: 0;
  -moz-flex: 0 0 60px;
  -ms-flex: 0 0 60px;
  flex: 0 0 60px;
  max-width: 60px;
}

.col-data {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 120px;
  -moz-box-flex: 0;
  -moz-flex: 0 0 120px;
  -ms-flex: 0 0 120px;
  flex: 0 0 120px;
  max-width: 120px;
}

.row:last-child .col {
  border-bottom: solid 1px grey;
}

.noreserved {
  cursor: pointer;
  background-color: lightgoldenrodyellow;
}

.reserved {
  background-color: indianred;
  cursor: not-allowed;
}

